
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upreak- About Us</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./images/main_logo.png" type="image/x-icon" height="100%" width="100%">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <%- include('includes/main_nav.ejs') %>
    <!-- END nav -->
    
    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About Us</span></p>
            <h1 class="mb-3 bread">Our About Us</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="p-5">
        <h1 class="text-center font-weight-bold">About Upreak</h1>
        <p class="p-5 text-dark" style="font-size:22px">Welcome to Upreak, a leading recruitment company that specializes in helping freshers and experienced professionals find their dream jobs. Our mission is to connect talented individuals with top companies and organizations, helping them to achieve their career goals and aspirations.<br> <br>

            At Upreak, we understand that finding the right job can be a daunting and challenging task. That's why we offer a range of services that are designed to help you succeed. Whether you are looking for resume verification, mock interviews, or expert HR advice, we have the tools and resources you need to stand out from the competition.<br> <br>
            
            Our team of experienced recruiters and HR professionals are dedicated to helping you achieve success. We take the time to get to know you and your career goals, and we work tirelessly to find the right job opportunities that match your skills and experience. With our personalized approach and commitment to excellence, we have helped thousands of job seekers find their dream jobs.<br> <br>
            
            At Upreak, we are passionate about what we do, and we are proud of the impact we have had on the lives of our clients. We believe that everyone deserves the opportunity to succeed, and we are committed to helping you achieve your full potential. Whether you are a fresh graduate or an experienced professional, we are here to support you every step of the way.<br> <br>
            
            Thank you for choosing Upreak. We look forward to helping you achieve your career goals and aspirations.
            </p>
    </section>

    <%- include('includes/main_footer.ejs') %>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>